
h1{
    font-size: 30px;
}
header{
    padding: 5px;
    color: #000000;
    background: linear-gradient(#FF4500,#FFA500);
    font-size: 25px;
}
li{
    display: inline;
    padding: 15px;

}
a{
    text-decoration: none;
    color: #000000;
}
.salka{
    
    color: #000000;
    list-style: none;
}
a:hover{
    color:#0000FF;
    text-decoration: none;
}
.reg{
    cursor: pointer;
    background-color: #FF4500;
    border-radius: 20px;
    color: #000000;
    padding: 10px 20px;
}
main{
    margin: 50px;
    padding: 60px;
    margin-top: -80px;
}
article{
    display: inline-block;
}
.card{
    width: 320px;
    height: 400px;
    background-color: #FF8C00;
    color: #000000;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
    margin: 0;

    border-style: solid;
    border-color: #FF4500;
}
.card_vk{
    border: none;
    cursor: pointer;
    background-color: #FF4500;
    padding: 10px 20px;
    border-radius: 20px;
    color: #000000;
}
.card_price{
    font-size: 30px;
    margin: 0 0 30px;
}
.card_name{
    font-size: 30px;
    margin: 0 0 20px;
}

.card_vk:hover{
     background-color: #FF2000;
}

.txt{
    margin-top: 50px;
    font-size: 30px;
}

footer{
    margin-top: 10px;
  background-color: #ff5500;
  display: flex;
  font-size: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.p0p{
    margin: 0 auto;
    color: #000000;
}
footer, .p0p{
    padding-top: 12px;
    padding-bottom: 14px;
    display: flex;
    background: linear-gradient(#FFA500,#FF4500);
}

.page-header {
  margin-bottom: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}